<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div *ngIf="datosClientes" class="listado-clientes">
  <h2 class="text-center">Listado de Clientes</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of datosClientes" class="cliente-tarjeta">
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.roles }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>



<div>
  <h2>Registro de Usuario</h2>
  <form (ngSubmit)="registrarUsuario()">
    <label for="name">Nombre:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="usuarioRegistro.name"
      name="name"
      required
    />

    <label for="email">Correo electrónico:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="usuarioRegistro.email"
      name="email"
      required
    />

    <label for="password">Contraseña:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="usuarioRegistro.password"
      name="password"
      required
    />

    <button type="submit">Registrarse</button>
  </form>
</div>


